<div class="recipes-post-contents">
  <header class="recipes-post-header">
    <%= link_to image_tag('MenuBot-logo.png', size: '200x150'), "/" %>
  </header>

  <div class="menus-post-main">
    <h2 class="menus-post-title">献立を選んでください</h2>
    <%= form_with model: @menu, url: menus_path, local: true do |f| %>
      <div class="date-form">
        <%= f.label :日付, class: 'control-label' %>
        <%= f.date_field :created_at, class: 'form-control' %>
      </div>

      <div class="menu-form">
          <%= f.fields_for :main_menus do |form| %>
            <%= render "main_menu_fields", f: form %>
          <% end %>

          <%= f.fields_for :sub_menus do |form| %>
            <%= render "sub_menu_fields", f: form %>
          <% end %>

          <%= f.fields_for :soup_menus do |form| %>
            <%= render "soup_menu_fields", f: form %>
          <% end %>
      </div>

      <div class="post-btn-contents">
        <%= f.submit "作成する", class:"menu-btn" %>
        <%= link_to 'もどる', menus_path, class:"back-btn" %>
      </div>
    <% end %>
  </div>
</div>