<%= render "shared/header" %>

<div class='main'>
  <div class='recipe-contents'>
    <div class="subtitle" >
      新規投稿レシピ
    </div>
    <ul class='recipe-lists'>
      <% @recipes.each do |recipe| %>
        <li class='list'>
          <%= link_to recipe_path(recipe.id) do %>
            <%= image_tag recipe.image, class: "recipe-img" if recipe.image.attached? %>
            <div class='recipe-title'>
              <%= recipe.recipe_title %>
            </div>
          <% end %>
        </li>
      <% end %>

      <% unless @recipes.present? %>
        <li class='list'>
          <%= link_to '#' do %>
            <%= image_tag "/public/images/test_image.png", class: "recipe-img" %>
            <div class='recipe-title'>
              レシピを投稿してね！
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%= link_to(new_recipe_path, class: 'new-recipe-btn') do %>
  <span class='new-recipe-btn-text'>投稿する</span>
<% end %>