<div class="recipes-post-contents">
  <header class="recipes-post-header">
    <%= link_to image_tag('MenuBot-logo.png', size: '200x150'), "/" %>
  </header>
  <div class="recipes-post-main">
    <h2 class="recipes-post-title">レシピの情報を入力</h2>
    <%= form_with model: @recipe, url: recipes_path, local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

    <div class="img-upload">
      <div class="weight-bold-text">
        画像
      </div>
      <div class="click-upload">
        <p>クリックしてファイルをアップロード</p>
        <%= f.file_field :image, id:"recipe-image" %>
      </div>
    </div>

    <div class="new-recipes">
      <div class="weight-bold-text">
        タイトル
      </div>
      <%= f.text_field :recipe_title, class:"recipes-title", id:"recipe-title", placeholder:"タイトル（必須 40文字まで)", maxlength:"40" %>
    </div>

    <div class="recipes-detail">
      <div class="weight-bold-text">
        材料
      </div>
      <div class="recipe-volume-form">
        <%= f.number_field :recipe_volume, class:"recipe-volume", id:"recipe-volume", min: 1, max: 99%>
        <span class="no-of-dish">人前</span>
      </div>

      <div class="parent">
        <div class="form-box">
          <div class="add-botton-box">
            <%= link_to_add_association "追加", f, :ingredients,
            class: 'add_fields',
            id: 'add-btn',
            data: {
              association_insertion_node: '#detail-association-insertion-point',
              association_insertion_method: 'after'
            }
            %>
          </div>
        </div>
        <div id="detail-association-insertion-point"></div>
        <%= f.fields_for :ingredients do |form| %>
          <%= render "ingredient_fields", f: form %>
        <% end %>
      </div>

      <div class="cooking-time-form">
        <div class="weight-bold-text">
          調理時間
        </div>
        <%= f.number_field :cooking_time, class:"cooking-time", id:"cooking-time", min: 1, max: 999 %>
        <span class="time">分</span>
      </div>
      
      <div class="form">
        <div class="weight-bold-text">
          調理器具
        </div>
        <%= f.collection_select(:tool_id, Tool.all, :id, :name, {}, {class:"select-box", id:"tool"}) %>
      </div>
      
      <div class="form">
        <div class="weight-bold-text">
          カテゴリー
        </div>
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"category"}) %>
      </div>
      
      <div class="weight-bold-text">
        手順
      </div>
      <%= f.text_area :recipe_procedure, class:"recipe-procedure", id:"recipe-procedure", placeholder:"調理の手順" ,rows:"20" %>
    </div>

    <div class="post-btn-contents">
      <%= f.submit "投稿する" ,class:"post-btn" %>
      <%= link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <% end %>
  </div>
</div>