<%= render "shared/header" %>

<div class="recipe-show">
  <div class="recipe-box">
    <div class="recipe-img-content">
      <%= image_tag @recipe.image, class:"recipe-box-img" %>
    </div>

    <h2 class="name">
      <%= @recipe.recipe_title %>
    </h2>

    <div class="recipe-detail-box">
      <span class="recipe-detail">
        調理時間：<%= @recipe.cooking_time %> 分
      </span>
      <span class="recipe-detail">
        カテゴリー：<%= @recipe.category_menu.name %>　<%= @recipe.category_dish.name %>
      </span>
    </div>

    <div class="recipe-explain">
      <div class="recipe-explain-box">
        <h3>材料</h3>
        <span class="no-of-dish">(<%= @recipe.recipe_volume %>人前)</span>
      </div>
      <table class="detail-table">
        <tbody>
          <tr>
            <th class="detail-tool">調理器具</th>
            <td class="detail-tool-value"><%= @recipe.tool.name %></td>
          </tr>
          <% @ingredients.each do |ingredient| %>
            <tr>
              <th class="detail-recipe"><%= ingredient.ing %></th>
              <td class="detail-recipe-value"><%= ingredient.quantity %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="recipe-explain">
      <div class="recipe-procedure-title">
        <h3>手順</h3>
        <div class="recipe-procedure-text">
          <%= @recipe.recipe_procedure %>
        </div>
      </div>
    </div>

    <div class="edit-btn">
      <% if user_signed_in? %>
        <% if current_user.id == @recipe.user_id %>
          <%= link_to "編集", edit_recipe_path(@recipe.id), method: :get, class: "recipe-red-btn" %>
          <%= link_to "削除", recipe_path(@recipe.id), method: :delete, class:"recipe-destroy" %>
        <% else current_user.id != @recipe.user_id %>

        <div class="recipe-red-btn", id="favorite-<%= @recipe.id %>" >
          <%= render partial: "favorite", locals: { recipe: @recipe } %>
            </div>

        <% end %>
      <% end %>
    </div>
  </div>
</div>
