<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("MenuBot-logo.png", class:"logo-icon"), "/" %>
    <div class="search-right">
      <div class="search-right-btn">
        <div class="search-form">
          <div class="menu-button">
            <%= link_to image_submit_tag("menu.png", class: 'search-icon'), "#" %>
          </div>
          <%= link_to '献立ページ', "#", class:"search-link" %>
        </div>

        <div class="search-form">
          <div class="food-button">
            <%= link_to image_submit_tag("food.png", class: 'search-icon'), "#" %>
          </div>
          <%= link_to '食材登録', "#", class:"search-link" %>
        </div>

        <div class="search-form">
          <div class="search-button">
            <%= link_to image_submit_tag("search.png", class: 'search-icon'), search_recipes_path %>
          </div>
          <%= link_to 'レシピを探す', search_recipes_path, class:"search-link" %>
        </div>
      </div>

      <div class='nav'>
        <ul class='lists-right'>
          <% if user_signed_in? %>
            <li><%= link_to current_user.nickname, user_path(current_user.id), class: "user-nickname" %></li> 
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li> 
          <% else %>
            <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
            <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

</header>